@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 4rem;
}

.left h1 {
  color: #f53117;
  font-size: 2rem;
  cursor: pointer;
}

.checkBtn {
  display: none;
}

#check {
  display: none;
}

.checkBtn {
  z-index: 6;
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #f53117;
  line-height: 80px;
  position: relative;
}

.right ul {
  display: flex;
  list-style: none;
}

.right ul li a {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px 20px;
  transition: all 1s;
  text-decoration: none;
  color: rgb(20, 20, 20);
}

#home {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(235 232 229);
}

.home-left .col-red {
  margin-bottom: 10px;
}

.home-left .col-red p {
  padding: 4px;
  display: inline;
  font-weight: bold;
  border-radius: 9px;
  background: #edcbc1;
  color: rgb(245, 49, 23);
}

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-left p {
  margin-bottom: 10px;
}

.home-left h1 {
  font-size: 40px;
  text-align: left;
  margin-bottom: 10px;
}

.home-right {
  height: 300px;
  width: 300px;
  cursor: pointer;
  border-top-right-radius: 130px;
  border-bottom-left-radius: 130px;
  background-color: rgb(245, 49, 23);
}

.home-right img {
  position: relative;
  bottom: 16px;
  left: 67px;
  z-index: 1;
  width: 158px;
}

.bg-red-btn {
  padding: 8px;
  width: 124px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  border-radius: 15rem;
  background: rgb(245, 49, 23);
  border: 1px solid rgb(245, 49, 23);
}

.bg-red-btn:hover {
  padding: 8px;
  margin-top: 10px;
  background: transparent;
  color: rgb(245, 49, 23);
  border: 1px solid rgb(245, 49, 23);
}

#delivery-partner {
  height: auto;
  padding: 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

#delivery-partner h4,
h1 {
  text-align: center;
  margin-bottom: 15px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.partner {
  cursor: pointer;
  width: 300px;
  margin: 15px;
  padding: 9px;
  text-align: center;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in;
  box-shadow: 0px 0px 12px -1px black;
}

.partner img {
  width: 100px;
}

.partners .left img {
  width: 70px;
}

#chef-main {
  height: auto;
  padding: 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

h4 {
  font-weight: bold;
  color: rgb(245, 49, 23);
}

#chef-main h4,
h1 {
  margin-bottom: 15px;
  text-align: center;
}

.chefs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.chef-item {
  margin: 15px;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.chef-item img {
  width: 250px;
  border-radius: 20px;
  box-shadow: 0px 0px 12px -1px black;
}

#contact {
  padding: 25px;
  color: black;
  background-color: rgb(255, 255, 255);
}

#contact h4,
h1 {
  text-align: center;
}

.main-form {
  display: block;
  margin: auto;
  padding: 10px;
  width: 355px;
}

.main-form input,
textarea {
  display: block;
  margin: auto;
  width: 90%;
  border: none;
  padding: 7px;
  margin: 10px auto;
  border-radius: 9px;
  background: #ede0e8;
}

.main-form button {
  display: block;
  margin: auto;
  width: 90%;
}

footer {
  padding: 15px;
  font-size: 18px;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(227, 240, 240);
}
